a {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 815px;
    margin-bottom: 40px;
    background-color: white;
}

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    background-image: linear-gradient(beige, purple);
}