{% extends "base.html" %}

{% block title %} Page login {% endblock%}
{% block content%}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Nazwa:</h1>
<form action="#", method="post">
    <input type="text", name="nick">
    <input type="submit", name="zaloguj", value="Sumbit">
</form>
<img src="{{ url_for('static', filename='icon.jpg') }}" alt="zdj">
{% endblock %}