{% extends "base.html" %}

{% block title %} Page Home {% endblock%}
    {% block content%}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Witaj ponownie {{user}}</h1>
<script src="/static/script2.js"></script>
<a id="text"></a>
<form>
    Podaj login:
    <input type="text", id="Login">

    Podaj haslo:
    <input type="text", id="Haslo">

    <button type="button" onclick="Start()">Login</button>
</form>
{% endblock %}